.footer-columns{
    display: flex;
}

.footer-column{
    flex: 50%;
    margin: 20px;
}

header, footer{
    background-color: rgb(245, 207, 255);
    padding: 10px;
}
main{
    padding: 10px;
    background-color: blueviolet;
}

.post{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.post img{
    margin: 20px;
}

.comment{
    background-color: rgb(214, 126, 255);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.author{
    margin-top: 0px;
    margin-bottom: 10px;
}

.data{
    color: rgb(64, 64, 64);
    margin-top: 0px;
    margin-bottom: 10px;
}

#otvet{
    margin-left: 40px;
}

#menu1{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10px;
}

#menu1 ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    list-style: none;
}

#menu1 > ul::after{
    display: block;
    width: 100%;
    height: 0px;
    clear: both;
    content: " ";
}

#menu1 ul li{
    position: relative;
    display: block;
    float: left;
    width: auto;
}
#menu1 ul li a{
    display: block;
    padding: 9px 25px 0 25px;
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    height: 36px;
    box-sizing: border-box;
    color: black;
}

#menu1 ul li ul{
    position: absolute;
    top: 36px;
    left: none;
    display: block;
    width: 200px;
    background-color: #d67eff;
}

#menu1 ul li:hover{
    display: block;
}

#menu1 ul li ul li{
    float: none;
    width: 100%;
}

#menu1 ul li ul li a{
    display: block;
    text-transform: none;
    height: auto;
    padding: 7px 25px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid black;
    color: black;
}

#menu1 ul li ul li:first-child a{
    border-top: 0px;
}